{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Personne</h1>

    <table class="table table-striped table-bordered table-style-delete">
        <tbody>
            <tr>
                <th class="center table-title" >Id</th>
                <td class="center">{{ personne.id }}</td>
            </tr>
            <tr>
                <th class="center table-title">Administrateur</th>
                <td class="center">{% if personne.isAdmin %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th class="center table-title">Nom</th>
                <td class="center">{{ personne.nom }}</td>
            </tr>
            <tr>
                <th class="center table-title">Prenom</th>
                <td class="center">{{ personne.prenom }}</td>
            </tr>
            <tr>
                <th class="center table-title">Login</th>
                <td class="center">{{ personne.login }}</td>
            </tr>
        </tbody>
    </table>
<div class="center">
    {#<ul>
        <li>#}
            <a class="btn btn-primary btn-sm" href="{{ path('personne_index') }}">Back to the list</a>
        {#</li>
        <li>#}
            <a class="btn btn-primary btn-sm" href="{{ path('personne_edit', { 'id': personne.id }) }}">Edit</a>
        {#</li>
        <li>#}
            {{ form_start(delete_form) }}
                <input class="btn btn-warning btn-sm delete-margin" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        {#</li>
    </ul>#}</div>
{% endblock %}
