<tfoot>
<tr>
    <td colspan="4">
        {% for key, hour in hoursFirst %}
            <a id="{{ key }}" class="btn btn-primary btn-hoursDispo"  onclick="getPossibleFollowedButton(this.id)">{{ hour }}</a>
        {% endfor %}
    </td>
</tr>
<<tr>
    <td colspan="4">
        {% for key, hour in hoursSecond %}
            <a id="{{ key }}" class="btn btn-primary btn-hoursDispo"  onclick="getPossibleFollowedButton(this.id)">{{ hour }}</a>
        {% endfor %}
    </td>
</tr>
<tr>
    <td colspan="4">
        {% for key, hour in hoursThird %}
            <a id="{{ key }}" class="btn btn-primary btn-hoursDispo"  onclick="getPossibleFollowedButton(this.id)">{{ hour }}</a>
        {% endfor %}
    </td>
</tr>-->
</tfoot>