{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Information de réservation</h1>
    <div class="center">

        <table class="table table-striped table-bordered table-style-delete">
            <tbody>
            {% if user and user.isAdmin %}
                <tr>
                    <th class="center table-title" >Utilisateur</th>
                    {% for personne in personnes %}
                        {% if personne.id == reserve.personneId%}
                            <td class="center">{{ personne.prenom }} {{ personne.nom}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                <th class="center table-title" >Salle</th>
                {% for salle in salles %}
                    {% if salle.id == reserve.salleId%}
                        <td class="center">{{ salle.numero}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="center table-title" >Duree</th>
                <td class="center" >{{ reserve.duree }}</td>
            </tr>
            <tr>
                <th class="center table-title" >Date de debut</th>
                <td class="center" >{% if reserve.dateDebut %}{{ reserve.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th class="center table-title" >Date de fin</th>
                <td class="center" >{% if reserve.dateFin %}{{ reserve.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th class="center table-title" >Code</th>
                <td class="center" >{{ reserve.code }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="center div-form-style">
        <a class="btn btn-success" href="{{ path('reserve_edit', { 'id': reserve.id }) }}">Modifier</a>

    </div>
    <div class="center div-form-style">

        {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('reserve_index') }}">Retour à la liste</a>
        <input class="btn btn-warning" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
