{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Edition du type de salle</h1>
    <div class="center div-form-style">

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>
    <div class="center div-form-style">


        {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('typesalle_index') }}">Back to the list</a>
        <input class="btn btn-warning" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
