{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Liste des types de salles</h1>

    <table class="table table-striped table-bordered table-style">
            <tr>
                {#<th class="table-title">Id</th>#}
                <th class=" center table-title">Nom</th>
                <th class=" center table-title">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeSalle in typeSalles %}
            <tr>
                {#<td class="center"><a class="btn btn-info" href="{{ path('typesalle_show', { 'id': typeSalle.id }) }}">{{ typeSalle.id }}</a></td>#}
                <td class="center">{{ typeSalle.nom }}</td>
                <td class="center">
                            <a class="btn btn-info btn-sm" href="{{ path('typesalle_show', { 'id': typeSalle.id }) }}">Voir</a>
                            <a class="btn btn-warning btn-sm" href="{{ path('typesalle_edit', { 'id': typeSalle.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="center div-form-style">

        <a class="btn btn-primary" href="{{ path('typesalle_new') }}">Créer un nouveau type de salle</a>
    </div>

{% endblock %}
