{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center" >Salles list</h1>

    <table class="table table-striped table-bordered table-style">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th class="center table-title">Type de salle</th>
                <th class="center table-title">Numero</th>
                <th class="center table-title">Capacite</th>
                <th class="center table-title">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                {#<td><a href="{{ path('salle_show', { 'id': salle.id }) }}">{{ salle.id }}</a></td>#}
                <td class="center">{{ salle.typesalle }}</td>
                <td class="center">{{ salle.numero }}</td>
                <td class="center">{{ salle.capacite }}</td>
                <td class="center">
                            <a class="btn btn-info btn-sm" href="{{ path('salle_show', { 'id': salle.id }) }}">show</a>
                            <a class="btn btn-warning btn-sm" href="{{ path('salle_edit', { 'id': salle.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="center">
        <a class="btn btn-primary btn-sm"href="{{ path('salle_new') }}">Create a new salle</a>
    </div>
{% endblock %}
